*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h2,
h3,
h4,
p {
  margin: 0;
}

/* card section */

.card {
  border: 2px solid rgb(236, 231, 231);
  max-width: 400px;
  border-radius: 1.2em;
  padding: 0 1.6em;
  transition: 1s;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5em;
  margin: 4em;
  font-family: "Lora", serif;
}

.card:hover {
  transform: scale(1.02);
}

.card,
.time-container {
  box-shadow: 0.25em 0.25em 0.75em rgba(120, 118, 118, 0.25);
}

.time-container {
  border: 1px solid rgb(192, 184, 184);
  border-radius: 1em;
  margin: 1em 0em;
  width: 40%;
  padding: 0.3em 1em;
  color: gray;
  gap: 0.5em;
  font-size: 12px;
}

.job-info {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0.5em;
}

.sub-info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.sub-info .company,
.Skills {
  letter-spacing: 0.1em;
  color: #8b8b8b;
}

.sub-info h4 {
  margin: 0;
}

.sub-info .rol,
.sub-info .city {
  font-weight: 200;
}

.sub-info .city {
  font-size: 15px;
}

.salary {
  margin: 0.7em 0;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.about-company {
  padding: 0.2em 0;
  font-size: 20px;
}

.about-text {
  letter-spacing: .5px;
  background: linear-gradient(black, rgb(202, 202, 212));
}

.founder-info {
  background: linear-gradient(rgb(133, 131, 131), rgb(202, 202, 212));
}

.about-text,
.founder-info {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.job-link {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: #4943da;
}

.skills-info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.Skills-name {
  background-color: #d9fed3;
  text-align: center;
  font-size: 13px;
  padding: 0.2em 1em;
  border-radius: 9px;
}

.skills-sub-info {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.experience {
  color: #8b8b8b;
  margin-top: 0.5em;
}

.white-space {
  padding: 1.5em;
}

/* Buttons */

.button,
.button-icone {
  border-radius: 8px;
  width: 100%;
  border: none;
  margin-bottom: 1em;
  font-size: 16px;
}

.button {
  padding: 0.7em;
  background-color: rgb(85, 239, 196);
}

.button-icone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #4943da;
  padding: 0.6em;
  color: white;
}

.logo {
  width: 30px;
  height: 50px;
}

.user-logo {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  filter: blur(2px);
}

/* Input */

.input {
  padding: .64rem;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 80%);
}

.input::placeholder {
  font-weight: 500;
}

/* Loading */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #829ab1;
  border-radius: 50%;
  border-top-color: #3b82f6;
  animation: spinner 2s linear infinite;
}

.loading-center {
  margin: 0 auto;
}