body,
h2,
h3,
h4,
p {
  margin: 0;
}

/* card section */

.card {
  border: 2px solid rgb(236, 231, 231);
  width: 320px;
  border-radius: 1.2em;
  padding: 0 1.6em;
  transition: 1s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  margin: 2em;
  font-family: "Lora", serif;
}

.card:hover {
  transform: scale(1.02);
}

.card,
.time-container {
  box-shadow: 0.25em 0.25em 0.75em rgba(120, 118, 118, 0.25);
}

.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(192, 184, 184);
  border-radius: 1em;
  margin: 1em 0em;
  height: 2em;
  width: 10em;
  padding: 0em 1em;
  color: gray;
  gap: .5em;
  font-size: 12px;
}

.job-info {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: .5em;
}

.sub-info {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.sub-info .company {
  letter-spacing: .1em;
  color: #8b8b8b;
}

.sub-info h4 {
  margin: 0;
}

.rol,
.city {
  text-transform: capitalize;
}

.sub-info .rol,
.sub-info .city {
  font-weight: 200;
}

.sub-info .city {
  font-size: 15px;
}

.salary {
  margin: .7em 0;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.about-company {
  padding: .2em 0;
  font-size: 20px;
}

.about-text {
  letter-spacing: .5px;
  background: linear-gradient(black, rgb(202, 202, 212));
}

.founder-info {
  background: linear-gradient(rgb(133, 131, 131), rgb(202, 202, 212));
}

.about-text,
.founder-info {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.job-link {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: #4943da;
}

.skills-info {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.experience {
  color: #8b8b8b;
  margin-top: .5em;
}